.sign-in{
    // vw means view width
    width: 400px;
    display: flex;
    // we want all the elements in the form to sit vertically
    flex-direction: column;

    .title{
        margin: 10px 0;
    }

    .buttons{
        display: flex;
        justify-content: space-between;
    }
}